zmodule kazhala/dotbare
zmodule mroth/evalcache
zmodule aloxaf/fzf-tab
zmodule zsh-users/zsh-completions --fpath src
zmodule mattmc3/zfunctions
zmodule completion
zmodule mattmc3/zshrc.d
zmodule zdharma-continuum/fast-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
